extends header

block content
    form(id='form', method='post', action='/create')
        label(for='username') Username:
            input(type='text', name='username')
            br
            label(for='password') Password:
                input(type='text', name='password')
                br
            label(for='email') Email:
            input(type='text', name='email')
            br
            label(for='age') Age:
            input(type='text', name='age')
            br
            label(for='questions') Security Question 1:
            select(name='questions')
                each item in config.questions
                    option(value=item[0]) #{item[0]}
            br
        input(type='submit', value='Add Person')
