
block content
    head
        link(href='style.css', rel='stylesheet')
    div(class="container-form")
        form(id='form', method='post', action='/create')
            h2 Create your Profile
            div(class="form-group")
                -let rngEye = Math.floor(Math.random() * 9) + 1;
                -let rngNose = Math.floor(Math.random() * 8) + 2;
                -let availableMouth = [1, 10, 11, 3, 5, 6, 7, 9];
                -let rngMouth = Math.floor(Math.random() * 8);
                -let letters = "0123456789ABCDEF";
                -let color = ""
                -for (let i = 0; i < 6; i++) {color += letters[(Math.floor(Math.random() * 16))];}
                -let src = "https://api.adorable.io/avatars/face/eyes" + rngEye + "/nose" + rngNose + "/mouth" + availableMouth[rngMouth] +"/" + color;
                img(id="image0" width="200" height="200"
                    src=src)
                input(name="profile" type="hidden" value=src)
            div(class="form-group")
                input(type='text', name='username' autocomplete="off" required="required")
                label(for='username' class="control-label") Username:
                i(class="bar")
            div(class="form-group")
                input(type='password', name='password' autocomplete="off" required="required")
                label(for='password' class="control-label") Password:
                i(class="bar")
            div(class="form-group")
                input(type='text', name='email' autocomplete="off" required="required")
                label(for='email' class="control-label") Email:
                i(class="bar")
            div(class="form-group")
                input(type='number', name='age' autocomplete="off" required="required" min="1" max="117")
                label(for='age' class="control-label") Age:
                i(class="bar")
            div(class="form-group")
                label(for='question1') What's your favorite OS?
            div(class="form-group")
                div() 1. Windows
                div() 2. MacOS
                div() 3. Linux
                div(class="form-group")
                    input(type='number', name='answer1' autocomplete="off" required="required" min="1" max="3")
                    label(for='answer1' class="control-label") Your Answer:
                    i(class="bar")
            div(class="form-group")
                label(for='question2') What is your current degree plan?
            div(class="form-group")
                div() 1. CS
                div() 2. Web
                div() 3. IS
                div() 4. SE
                div(class="form-group")
                    input(type='number', name='answer2' autocomplete="off" required="required" min="1" max="4")
                    label(for='answer2' class="control-label") Your Answer:
                    i(class="bar")
            div(class="form-group")
                label(for='question3') What is your cohort?
            div(class="form-group")
                div() 1. 33
                div() 2. 34
                div() 3. 35
                div() 4. 36+
                div(class="form-group")
                    input(type='number', name='answer3' autocomplete="off" required="required" min="1" max="4")
                    label(for='answer3' class="control-label") Your Answer:
                    i(class="bar")
            div(class="button-container" id="button-container")
                input(type='submit', value='Create User' class="button")
        div(class="button-container" id="button-container-back")
            input(type='submit', value='Go Back' class="button" onclick="location.href = 'http://localhost:3010/';")
