
block content
    head
        link(href='style.css', rel='stylesheet')
    div(class="container-form")
        form(id='form', method='post', action='/create')
            h2 Create your Profile
            div(class="form-group")
                -let rngEye = Math.floor(Math.random() * 9) + 1;
                -let rngNose = Math.floor(Math.random() * 8) + 2;
                -let availableMouth = [1, 10, 11, 3, 5, 6, 7, 9];
                -let rngMouth = Math.floor(Math.random() * 8);
                -let letters = "0123456789ABCDEF";
                -let color = ""
                -for (let i = 0; i < 6; i++) {color += letters[(Math.floor(Math.random() * 16))];}
                -let src = "https://api.adorable.io/avatars/face/eyes" + rngEye + "/nose" + rngNose + "/mouth" + availableMouth[rngMouth] +"/" + color;
                img(id="image0" width="200" height="200" src=src)
                input(name="profile" type="hidden" value=src)
            div(class="form-group")
                input(type='text', name='username' autocomplete="off" required="required")
                label(for='username' class="control-label") Username:
                i(class="bar")
            div(class="form-group")
                input(type='password', name='password' autocomplete="off" required="required")
                label(for='password' class="control-label") Password:
                i(class="bar")
            div(class="form-group")
                input(type='text', name='email' autocomplete="off" required="required")
                label(for='email' class="control-label") Email:
                i(class="bar")
            div(class="form-group")
                input(type='number', name='age' autocomplete="off" required="required" min="1" max="117")
                label(for='age' class="control-label") Age:
                i(class="bar")
            div(class="form-group")
                label(for='question1') What's your favorite OS?
            div(class="form-group")
                div() A. Windows
                div() B. MacOS
                div() C. Linux
                div(class="form-group") Select your answer
                    select(class='answer1' name='answer1')
                        option(value='A') A
                        option(value='B') B
                        option(value='C') C
            div(class="form-group")
                label(for='question2') What is your current degree plan?
            div(class="form-group")
                div() A. CS
                div() B. Web
                div() C. IS
                div() D. SE
                div(class="form-group")
                    select(class='answer1' name='answer2')
                        option(value='A') A
                        option(value='B') B
                        option(value='C') C
                        option(value='D') D
            div(class="form-group")
                label(for='question3') What is your cohort?
            div(class="form-group")
                div() A. 33
                div() B. 34
                div() C. 35
                div() D. 36+
                div(class="form-group")
                    select(class='answer1' name='answer3')
                        option(value='A') A
                        option(value='B') B
                        option(value='C') C
                        option(value='D') D
            div(class="button-container" id="button-container")
                input(type='submit', value='Create User' class="button")
        div(class="button-container" id="button-container-back")
            input(type='submit', value='Go Back' class="button" onclick="location.href = 'http://localhost:3010/';")
