
block content
    head
        link(href='style.css', rel='stylesheet')
    div(class="container-form")
        form(id='form', method='post', action='/create')
            h2 Create your Profile
            div(class="form-group")
                input(type='text', name='username' autocomplete="off" required="required")
                label(for='username' class="control-label") Username:
                i(class="bar")
            div(class="form-group")
                input(type='password', name='password' autocomplete="off" required="required")
                label(for='password' class="control-label") Password:
                i(class="bar")
            div(class="form-group")
                input(type='text', name='email' autocomplete="off" required="required")
                label(for='email' class="control-label") Email:
                i(class="bar")
            div(class="form-group")
                input(type='number', name='age' autocomplete="off" required="required" min="1" max="117")
                label(for='age' class="control-label") Age:
                i(class="bar")
            div(class="form-group")
                label(for='question1') What's your favorite OS?
            div(class="form-group")
                div(class='answer1') A. Windows
                div(class='answer2') B. MacOS
                div(class='answer3') C. Linux
            div(class="form-group")
                label(for='question2') What is your current degree plan?
            div(class="form-group")
                div(class='answer1') A. CS
                div(class='answer2') B. Web
                div(class='answer3') C. IS
                div(class='answer4') C. SE
            div(class="form-group")
                label(for='question3') What is your cohert?
            div(class="form-group")
                div(class='answer1') A. 33
                div(class='answer2') B. 34
                div(class='answer3') C. 35
                div(class='answer4') C. 36+
            div(class="button-container" id="button-container")
                input(type='submit', value='Create User' class="button")
        div(class="button-container" id="button-container")
            input(type='submit', value='Go Back' class="button" onclick="location.href = 'http://localhost:3010/';")