extends header

block content
    div(class="container")
        form(id='form', method='get', action='/create')
            label(for='username') Username:
                input(type='text', name='username')
                br
            label(for='password') Password:
                input(type='password', name='password')
                br
            input(type='submit', value='login')