@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1, h3 {
    padding-bottom: 70px;
    padding-left: 120px;
}

body {
    background-color: #f2f2f2;
}

header {
    overflow: hidden;
    padding: 20px 10px;
}

li {
    list-style: none;
}

table.gridtable {
    color: #337;
    border-width: 1px;
    border-color: #559;
    border-collapse: collapse;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background-color: #ccf;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background-color: #fff;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.menu_item {
    width: 100px;
    text-align: center;
}

.header a:hover {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

.container {
    position: relative;
    max-width: 20rem;
    margin: 3rem auto;
    background: #fff;
    width: 100%;
    padding: 3rem 5rem;
    border-radius: 1px;
    text-align: center;
}


.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    -webkit-transition: -webkit-transform 0.28s ease-in-out;
    z-index: -1;
}

.container:hover::before {
    -webkit-transform: scale(1);
}

.img-container {
    text-align: center;
    align-items: center;
}

.img {
    width: 15rem;
    height: 200px;
}

.title {
    text-align: center;
    margin: 0 0 2em;
    font-weight: bold;
    font-size: 19pt;
    color: #4f93ce;
}

.content {
    text-align: start;
    margin-top: 10px;
}

.price {
    margin-top: 10px;
}

.container-form {
    position: relative;
    max-width: 40rem;
    margin: 5rem auto;
    background: #fff;
    width: 100%;
    padding: 3rem 5rem 0;
    border-radius: 1px;
}

.container-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition: -webkit-transform 0.28s ease-in-out;
    z-index: -1;
}

.container-form:hover::before {
    -webkit-transform: scale(1);
}

.button-container {
    text-align: center;
    height: 5rem;
}

.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
}

.form-group input {
    height: 1.9rem;
}

.form-group textarea {
    resize: none;
}

.form-group select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
}

.form-group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    transition: all 0.28s ease;
}

.form-group .control-label-select {
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    transition: all 0.28s ease;
}

.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}

.form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    transition: left 0.28s linear, width 0.28s linear;
    z-index: 2;
}

.form-group input {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    transition: all 0.28s ease;
    box-shadow: none;
}

.form-group input[type="file"] {
    line-height: 1;
}

.form-group input[type="file"] ~ .bar {
    display: none;
}

.form-group input[type="customType"] {
    line-height: 1;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value {
    color: #333;
}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
}

.form-group select:focus,
.form-group input:focus {
    outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label {
    color: #337ab7;
}

.form-group input:focus ~ .bar::before {
    width: 100%;
    left: 0;
}

.button {
    position: relative;
    border: 1px;
    font-size: 1.1rem;
    color: white;
    background-color: #4f93ce;
    padding: 0.75rem 3rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.th, .td {
    padding: 0 30px 0 0;
}

.second-one {
    width: 400px;
    padding: 15px 0 0 0;
}